@{
    ViewData["Title"] = "Violin";
}

<div class="text-center">
    <h1 class="display-4">I play the violin!</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="~/e3a3e615-2055-42c3-9603-c1fe27d6f983.jpeg" height="300" alt="Violin Image 1" />
        </div>
        <div class="col-md-6">
            <img src="~/f66bf058-f58b-4a94-a0c7-fbd57d2f8a4c.jpeg" height="300"  alt="Violin Image 2" />
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <p>I started playing the violin when I was 8 years old. I loved the sound of it because I thought it sounded like someone singing! I played in orchestra at school and took private lessons.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>When I moved to Florida, I was able to join a great youth orchestra called TMYO! It was so fun to play with them and I got to tutor little kids all the time. We even got invited to play at Carnegie hall in New York City, but Covid hit and we weren't able to go.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>I still love playing though! Most semesters, I play with the orchestra here at BYU. Violin has become a way for me to relax and do something that I think makes the world a more beautiful place.</p>
        </div>
    </div>
</div>
