html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f0faff;
}

/* Mission5.styles.css */

.calculator-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

    .calculator-container h1 {
        text-align: center;
        color: #007bff;
    }

    .calculator-container label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .calculator-container input[type="number"],
    .calculator-container input[type="text"] {
        width: calc(100% - 20px);
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ced4da;
        border-radius: 4px;
    }

    .calculator-container button {
        width: calc(100% - 20px);
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .calculator-container button:hover {
            background-color: #0056b3;
        }

    .calculator-container #total {
        font-weight: bold;
    }


.navbar {
    background-color: #d6e4f0; 
}

.footer {
    background-color: #aed3ef; 
}